{% extends "layout.html" %}
{% block content %}
    <h4><strong>Payment Method-wise Revenue break-up:</strong></h4>
    <form id="PaymentCategory1" action="{{ url_for('Paymentwise') }}" method="POST">
        <label for="PaymentCategory">Select Payment Mode: </label>
        <select name="PaymentCategory" id="PaymentCategory" onchange="category3(this)">
            <option disabled selected>Select</option>
            <option value ="Visa">Visa</option>
            <option value ="Mastercard">Mastercard</option>
            <option value ="Diners">Diners</option>
            <option value ="American Express">American Express</option>
            <option value ="Discover">Discover</option>
            <option value ="NETS">NETS</option>
            <option value ="PayNow">PayNow</option>
        </select>
        <br></br>
        <br><Strong>Select Date:</Strong></br>
        <br>From:</br>
        <label for="Date3">Date</label>
        <select name="Date3" id="Date3" onchange="category11(this)">
            <option disabled selected>Select</option>
            <option value ="1">1</option>
            <option value ="2">2</option>
            <option value ="3">3</option>
            <option value ="4">4</option>
            <option value ="5">5</option>
            <option value ="6">6</option>
            <option value ="7">7</option>
            <option value ="8">8</option>
            <option value ="9">9</option>
            <option value ="10">10</option>
            <option value ="11">11</option>
            <option value ="12">12</option>
            <option value ="13">13</option>
            <option value ="14">14</option>
            <option value ="15">15</option>
            <option value ="16">16</option>
            <option value ="17">17</option>
            <option value ="18">18</option>
            <option value ="19">19</option>
            <option value ="20">20</option>
            <option value ="21">21</option>
            <option value ="22">22</option>
            <option value ="23">23</option>
            <option value ="24">24</option>
            <option value ="25">25</option>
            <option value ="26">26</option>
            <option value ="27">27</option>
            <option value ="28">28</option>
            <option value ="29">29</option>
            <option value ="30">30</option>
            <option value ="31">31</option>
        </select>
        <label for="Month3">Month</label>
        <select name="Month3" id="Month3" onchange="category12(this)">
            <option disabled selected>Select</option>
            <option value ="1">1</option>
            <option value ="2">2</option>
            <option value ="3">3</option>
            <option value ="4">4</option>
            <option value ="5">5</option>
            <option value ="6">6</option>
            <option value ="7">7</option>
            <option value ="8">8</option>
            <option value ="9">9</option>
            <option value ="10">10</option>
            <option value ="11">11</option>
            <option value ="12">12</option>
        </select>
        <label for="Year3">Year</label>
        <select name="Year3" id="Year3" onchange="category13(this)">
            <option disabled selected>Select</option>
            <option value ="2020">2020</option>
            <option value ="2021">2021</option>
            </select>
        <br></br>
        To:<br></br>
        <label for="Date4">Date</label>
        <select name="Date4" id="Date4" onchange="category14(this)">
            <option disabled selected>Select</option>
            <option value ="1">1</option>
            <option value ="2">2</option>
            <option value ="3">3</option>
            <option value ="4">4</option>
            <option value ="5">5</option>
            <option value ="6">6</option>
            <option value ="7">7</option>
            <option value ="8">8</option>
            <option value ="9">9</option>
            <option value ="10">10</option>
            <option value ="11">11</option>
            <option value ="12">12</option>
            <option value ="13">13</option>
            <option value ="14">14</option>
            <option value ="15">15</option>
            <option value ="16">16</option>
            <option value ="17">17</option>
            <option value ="18">18</option>
            <option value ="19">19</option>
            <option value ="20">20</option>
            <option value ="21">21</option>
            <option value ="22">22</option>
            <option value ="23">23</option>
            <option value ="24">24</option>
            <option value ="25">25</option>
            <option value ="26">26</option>
            <option value ="27">27</option>
            <option value ="28">28</option>
            <option value ="29">29</option>
            <option value ="30">30</option>
            <option value ="31">31</option>
        </select>
        <label for="Month4">Month</label>
        <select name="Month4" id="Month4" onchange="category15(this)">
            <option disabled selected>Select</option>
            <option value ="1">1</option>
            <option value ="2">2</option>
            <option value ="3">3</option>
            <option value ="4">4</option>
            <option value ="5">5</option>
            <option value ="6">6</option>
            <option value ="7">7</option>
            <option value ="8">8</option>
            <option value ="9">9</option>
            <option value ="10">10</option>
            <option value ="11">11</option>
            <option value ="12">12</option>
        </select>
        <label for="Year4">Year</label>
        <select name="Year4" id="Year4" onchange="category16(this)">
            <option disabled selected>Select</option>
            <option value ="2020">2020</option>
            <option value ="2021">2021</option>
            </select>
            <br></br>
            <input type="submit" value="Submit"><br></br>

    </form>
    <Strong>Chosen Category:</Strong> {{ PmtCat }}
    <br></br>
    <Strong>Date From:</Strong> {{ datetime33 }} 
    <br></br>
    <Strong>To:</Strong> {{ datetime44 }}
    <br></br>
    <strong>Revenue in SGD: </strong> {{ revenue }} 
    <br></br>
    <strong>Commission Incurred in SGD: </strong> {{ commission }} 
    <br></br>
    <a href="home.html"><button>Back to Home</button></a>
    
      
{% endblock content%}