{% extends "layout.html" %}
{% block content %}
    <h4><strong>Store-wise Revenue break-up:</strong></h4>
    <form id="StoreCategory1" action="{{ url_for('Storewise') }}" method="POST">
        <label for="StoreCategory">Select Store: </label>
        <select name="StoreCategory" id="StoreCategory" onchange="category4(this)">
            <option disabled selected>Select</option>
            <option value ="Ikea Tampines">Ikea Tampines</option>
            <option value ="Ikea Alexandra">Ikea Alexandra</option>
            <option value ="Ikea Jurong">Ikea Jurong</option>
            </select>
            <br></br>
            <br><Strong>Select Date:</Strong></br>
            <br>From:</br>
            <label for="Date5">Date</label>
            <select name="Date5" id="Date5" onchange="category17(this)">
                <option disabled selected>Select</option>
                <option value ="1">1</option>
                <option value ="2">2</option>
                <option value ="3">3</option>
                <option value ="4">4</option>
                <option value ="5">5</option>
                <option value ="6">6</option>
                <option value ="7">7</option>
                <option value ="8">8</option>
                <option value ="9">9</option>
                <option value ="10">10</option>
                <option value ="11">11</option>
                <option value ="12">12</option>
                <option value ="13">13</option>
                <option value ="14">14</option>
                <option value ="15">15</option>
                <option value ="16">16</option>
                <option value ="17">17</option>
                <option value ="18">18</option>
                <option value ="19">19</option>
                <option value ="20">20</option>
                <option value ="21">21</option>
                <option value ="22">22</option>
                <option value ="23">23</option>
                <option value ="24">24</option>
                <option value ="25">25</option>
                <option value ="26">26</option>
                <option value ="27">27</option>
                <option value ="28">28</option>
                <option value ="29">29</option>
                <option value ="30">30</option>
                <option value ="31">31</option>
            </select>
            <label for="Month5">Month</label>
            <select name="Month5" id="Month5" onchange="category18(this)">
                <option disabled selected>Select</option>
                <option value ="1">1</option>
                <option value ="2">2</option>
                <option value ="3">3</option>
                <option value ="4">4</option>
                <option value ="5">5</option>
                <option value ="6">6</option>
                <option value ="7">7</option>
                <option value ="8">8</option>
                <option value ="9">9</option>
                <option value ="10">10</option>
                <option value ="11">11</option>
                <option value ="12">12</option>
            </select>
            <label for="Year5">Year</label>
            <select name="Year5" id="Year5" onchange="category19(this)">
                <option disabled selected>Select</option>
                <option value ="2020">2020</option>
                <option value ="2021">2021</option>
                </select>
            <br></br>
            To:<br></br>
            <label for="Date6">Date</label>
            <select name="Date6" id="Date6" onchange="category20(this)">
                <option disabled selected>Select</option>
                <option value ="1">1</option>
                <option value ="2">2</option>
                <option value ="3">3</option>
                <option value ="4">4</option>
                <option value ="5">5</option>
                <option value ="6">6</option>
                <option value ="7">7</option>
                <option value ="8">8</option>
                <option value ="9">9</option>
                <option value ="10">10</option>
                <option value ="11">11</option>
                <option value ="12">12</option>
                <option value ="13">13</option>
                <option value ="14">14</option>
                <option value ="15">15</option>
                <option value ="16">16</option>
                <option value ="17">17</option>
                <option value ="18">18</option>
                <option value ="19">19</option>
                <option value ="20">20</option>
                <option value ="21">21</option>
                <option value ="22">22</option>
                <option value ="23">23</option>
                <option value ="24">24</option>
                <option value ="25">25</option>
                <option value ="26">26</option>
                <option value ="27">27</option>
                <option value ="28">28</option>
                <option value ="29">29</option>
                <option value ="30">30</option>
                <option value ="31">31</option>
            </select>
            <label for="Month6">Month</label>
            <select name="Month6" id="Month6" onchange="category21(this)">
                <option disabled selected>Select</option>
                <option value ="1">1</option>
                <option value ="2">2</option>
                <option value ="3">3</option>
                <option value ="4">4</option>
                <option value ="5">5</option>
                <option value ="6">6</option>
                <option value ="7">7</option>
                <option value ="8">8</option>
                <option value ="9">9</option>
                <option value ="10">10</option>
                <option value ="11">11</option>
                <option value ="12">12</option>
            </select>
            <label for="Year6">Year</label>
            <select name="Year6" id="Year6" onchange="category22(this)">
                <option disabled selected>Select</option>
                <option value ="2020">2020</option>
                <option value ="2021">2021</option>
            </select>
            <br></br>
            <input type="submit" value="Submit"><br></br>
        
    </form>
    <Strong>Chosen Category:</Strong> {{ StoreCat }}
    <br></br>
    <Strong>Date From:</Strong> {{ datetime55 }} 
    <br></br>
    <Strong>To:</Strong> {{ datetime66 }}
    <br></br>
    <strong>Revenue in SGD: </strong> {{ revenue }} 
    <br></br>
    <a href="home.html"><button>Back to Home</button></a>
        
{% endblock content%}